<div id="page-wrapper">
    <div class="container-fluid">
        <!-- D A S H B O A R D  M E N U -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Menu</h2>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>Categories</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1"></div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2" align="center">
                <div class="panel-default">
                    <div class="panel-body">Simple Ordering</div>
                </div>
            </div>

            <div class="col-md-2" align="center">
                <div class="panel-default">
                    <div class="panel-body">Advanced Ordering</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row" ng-repeat="menuCategory in menuCategories"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteCategory($index)">X</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="20" maxlength="50" ng-model="menuCategory.name">
                    </div>
                </div>    
            </div>

            <div class="col-md-2" align="center">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="checkbox" ng-model="menuCategory.orderingSimple" ng-change="">
                    </div>
                </div>
            </div>

            <div class="col-md-2"  align="center">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="checkbox" ng-model="menuCategory.orderingAdvanced" ng-change="">
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-info" value="Save" ng-click="updateCategory($index)">Save</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="New category" ng-click="createCategory()">New Category</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row panel-darkgrey">
            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Select category</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-default">
                    <div class="panel-body">
                        <select ng-model="currentCategory" ng-change="loadItems()" ng-options="menuCategory as menuCategory.name for menuCategory in menuCategories track by menuCategory.id"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>Items</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1"></div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Size</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Description</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Price</div>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-1" align="center">
                <div class="panel-default">
                    <div class="panel-body">Active</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row" ng-repeat="menuItem in menuItems"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteItem($index)">X</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="25" maxlength="50" ng-model="menuItem.name">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <select class="dashboard-input" ng-model="menuItem.size" ng-options="size as size.name for size in sizes track by size.order">
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <textarea class="dashboard-input" cols="25" rows="3" ng-model="menuItem.description">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="5" ng-model="menuItem.price">
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-info" value="Save" ng-click="updateItem($index)">Save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-1" align="center">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="checkbox" ng-model="menuItem.active" ng-change="setItemActive($index)">
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="New item"  ng-click="createItem()">New Item</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->