<div id="page-wrapper">
    <div class="container-fluid">
        <!-- D A S H B O A R D  S E T T I N G S -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Settings</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel-default">
                    <div class="panel-body">
                        Minimum time to prepare for simple order: 
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="text"  size="3" maxlength="3" ng-model="settings.minimumTimeFrameSimple"> Minutes
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <div class="panel-default">
                    <div class="panel-body">
                        Minimum time to prepare for advanced order: 
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="text" size="3" maxlength="3" ng-model="settings.minimumTimeFrameAdvanced"> Days
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <div class="panel-default">
                    <div class="panel-body">Ordering start time: </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="text" size="2" maxlength="2" ng-model="settings.orderingStartHour"> :
                        <input type="text" size="2" maxlength="2" ng-model="settings.orderingStartMinute">
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <div class="panel-default">
                    <div class="panel-body">Ordering finish time:  </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="text" size="2" maxlength="2" ng-model="settings.orderingFinishHour"> :
                        <input type="text" size="2" maxlength="2" ng-model="settings.orderingFinishMinute">
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <div class="panel-default">
                    <div class="panel-body">Maximum cost with no deposit for simple order:  </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel-default">
                    <div class="panel-body">
                        NZD  <input type="text" size="3" maxlength="3" ng-model="settings.maxNoDepositCostForSimpleOrder">
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <div class="panel-default">
                    <div class="panel-body">Emails list to notify about new customers (divide with space)</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel-default">
                    <div class="panel-body">
                        <textarea cols="30" rows="3" ng-model="settings.emailsForCustomersNotifications"></textarea>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <div class="panel-default">
                    <div class="panel-body">Emails list to notify about new orders (divide with space)</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel-default">
                    <div class="panel-body">
                        <textarea cols="30" rows="3" ng-model="settings.emailsForOrdersNotifications"></textarea>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="Save Settings" ng-click="saveSettings()">Save Settings</button>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>Sizes</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-lg-1">
                <div class="panel-default">
                    <div class="panel-body">Order</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Size</div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row" ng-repeat="size in sizes">
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteSize($index)" ng-show="size.order !== 0">X</button>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="5" maxlength="5" ng-model="size.newOrder" ng-disabled="size.order === 0">
                    </div>
                </div>    
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="20" maxlength="50" ng-model="size.name" ng-disabled="size.order === 0">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-info" value="Save" ng-click="updateSize($index)" ng-show="size.order !== 0">Save</button>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="New size"  ng-click="createSize()">New Size</button>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>Admin Password</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        
        <div class="row"> 
            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Current Password</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="password" size="10" maxlength="20" ng-model="oldPassword">
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row"> 
            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">New Password</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="password" size="10" maxlength="20" ng-model="newPassword">
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row"> 
            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Confirm Password</div>
                </div>
            </div>  

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="password" size="10" maxlength="20" ng-model="newPasswordConfirm">
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="Change Password"  ng-click="changeAdminPassword()">Change Password</button>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->