<!-- K A T R I N A  S A L C E D A-->
<!-- f o n d ( o u )   w e b s i t e -->
<!-- 1 5 0 9 6 6 3 6 C -->
<!-- C O M P 7 4 4 | S H U A I B  M E M O N -->
<!-- A u g u s t  2 6 ,  2 0 1 6 -->

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>fond(ou) café</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" href="/assets/img/favicon.ico">
    <link rel='stylesheet' href='assets/css/bootstrap.min.css'>
    <link rel='stylesheet' href='assets/css/vendor.css'>
    <link rel='stylesheet' href='assets/css/fondoustyle.css'>
    <link rel='stylesheet' href='assets/css/fondou.css'>

    <!-- Include AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- Include Angular UI Bootstrap -->
    <script src="/fondou_app/lib/ui-bootstrap-tpls-1.3.3.js"></script>

    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>

</head>

<body ng-app="fondouWebsite" ng-controller="MainController">
    <div class="site" ng-controller="WebsiteController">
        <!-- S I T E  L O A D E R  C O D E -->
        <div class="site-loader">
        </div> 


        <!-- N A V I G A T I O N  P L A C E M E N T  B A R  C O D E  S T A R T S -->
        <div class="site-canvas">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-header">


                        <a class="primary-nav-toggle" href="#">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </div>
                    <!-- N A V I G A T I O N  P L A C E M E N T  B A R  C O D E  E N D S-->



                    <!-- N A V I G A T I O N   C O D E  S T A R T S -->
                    <div class="site-header-main">
                        <nav class="primary-nav">
                            <div class="primary-menu-container">
                                <ul class="primary-menu">

                                    <!-- H O M E  N A V -->
                                    <li class="primary-menu-item is-active" data-section="#home">
                                        <a href="#" data-hover=""><span>Home</span></a> 
                                    </li> 

                                    <!-- A B O U T  N A V -->
                                    <li class="primary-menu-item" data-section="#about">
                                        <a href="#" data-hover=""><span>About</span></a>
                                    </li>

                                    <!-- M E N U  N A V -->
                                    <li class="primary-menu-item" data-section="#menu">
                                        <a href="#" data-hover="" ng-click="loadMenu()"><span>Menu</span></a>
                                    </li>

                                    <!-- W H A T S  N E W   N A V -->
                                    <li class="primary-menu-item" data-section="#whatsnew">
                                        <a href="#" data-hover="" ng-click="loadSpecials()"><span>What's New</span></a>
                                    </li>

                                    <!-- G A L L E R Y  N A V -->
                                    <li class="primary-menu-item" data-section="#gallery">
                                        <a href="#" data-hover=""><span>Gallery</span></a>
                                    </li>

                                    <!-- C O N T A C T  U S  N A V -->
                                    <li class="primary-menu-item" data-section="#contact">
                                        <a href="#" data-hover=""><span>Contact</span></a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </header> 
            <!-- N A V I G A T I O N  C O D E  E N D S -->


            <!-- N A V I G A T I O N  M O B I L E   S C R E E N  C O D E  STARTS -->
            <main class="site-main">
                <div id="nav" class="section">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <div class="container">
                                <div class="col-xs-12">
                                    <div class="col-inner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- N A V I G A T I O N  M O B I L E   S C R E E N  C O D E  E N D -->


                <!-- H O M E  P A G E  C O D E  S T A R T S  H E R E-->
                <div id="home" class="section is-active">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <div class="container">
                                <div class="col-xs-12">
                                    <div class="col-inner">
                                        <img src="assets/img/logo_fondou.svg" alt="" height="480" width="1000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- H O M E  P A G E  C O D E  E N D S  H E R E-->


                <!-- A B O U T  P A G E  C O D E  S T A R T S  H E R E-->
                <div id="about" class="section">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <div class="container">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="col-inner">

                                            <div class="section-heading">
                                                <h2 class="section-title">About</h2>
                                                fond(ou) is a 5 star and popular Deli Cafe/Espresso Bar that is located inside Auckland City Hotel at 157 Hobson St., Auckland, New Zealand.  They are offering award-winning coffee, home-style baked goods and a wide selection of quiches, sandwiches and Panini’s.
                                            </div>

                                        </div>
                                    </div>

                                    <!-- A B O U T . L E F T  S I D E -->
                                    <div class="col-md-5">
                                        <div class="col-inner">

                                            <div class="iconbox-heading">
                                                <h4>"Absolutely fantastic"</h4>
                                                <p class="section-subtitle">Karen S | Christchurch, New Zealand</p>
                                            </div>
                                            <p></p>

                                            <div class="iconbox-heading">
                                                <h3>"Amazing little treasure of food"</h3>
                                                <p class="section-subtitle">Pilomiami | Miami, Florida</p>
                                            </div>
                                            <p></p>

                                            <div class="iconbox-heading">
                                                <h3>"Lovely little street coffee bar"</h3>
                                                <p class="section-subtitle">Nigel H | Harrogate, United Kingdom</p>
                                            </div>
                                            <p></p>

                                        </div>
                                    </div>
                                    <!-- A B O U T . L E F T  S I D E -->

                                    <!-- A B O U T . R I G H T  S I D E -->
                                    <div class="col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">

                                        <div class="col-inner">
                                            <h3>"Fond Memories"</h3>
                                            <p class="section-subtitle"> stewcasabland | Cartagena, Spain</p>
                                        </div>
                                        <p></p>

                                        <div class="iconbox-heading">
                                            <h3>"Little treasure in the wall."</h3>
                                            <p class="section-subtitle">Jarkko S | Adelaide, Australia</p>
                                        </div>
                                        <p></p>

                                        <div class="iconbox-heading">
                                            <h3>"“Quaint little cafe, filled with delicious breakfast"</h3>
                                            <p class="section-subtitle">kchen83 | La Puente, California</p>
                                        </div>                    
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- A B O U T  P A G E  C O D E  E N D S  H E R E-->


                <!-- M E N U  P A G E  C O D E  S T A R T S  H E R E-->
                <div id="menu" class="section">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <div class="container">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="col-inner">

                                            <div class="section-heading">
                                                <h2 class="section-title">Our Menu</h2>
                                            </div>

                                            <div ng-repeat="category in menu">
                                                <h3 class="section-title">{{category.name}} Menu</h3>
                                                <br>

                                                <div class="iconbox-heading" ng-repeat="item in category.items">
                                                    <h4>{{item.name}}</h4>
                                                    <p class="section-subtitle">
                                                        <span ng-repeat="size in item.sizes">
                                                            <span ng-show="$index > 0"> | </span>
                                                            <span ng-show="size.name !== ''"> {{size.name}} </span>
                                                            <span ng-show="size.name !== ''"> - </span>
                                                            <span> {{size.price | currency}} </span>
                                                        </span>
                                                    </p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- M E N U  P A G E  C O D E  S T A R T S  H E R E-->


                <!-- W H A T S  N E W  P A G E  C O D E  S T A R T S  H E R E-->
                <div id="whatsnew" class="section">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <div class="container">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="col-inner">

                                            <div class="section-heading">
                                                <h2 class="section-title">Fresh Finds</h2>
                                                <p class="section-subtitle">We know you want more.</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-8 col-lg-8">
                                        <div class="col-inner">
                                            <h5>• • • • • • • • • • • • • • • • • • • •</h5>
                                            <div ng-repeat="special in specials">
                                                <div class="iconbox-heading">
                                                    <h4><ins>{{special.count}} items</ins> - {{special.name}} - <ins>{{special.price| currency}}</ins></h4>
                                                </div>
                                                <p></p>
                                            </div>
                                            <h5>• • • • • • • • • • • • • • • • • • • •</h5>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- W H A T S  N E W  P A G E  C O D E  E N D S  H E R E-->


                <!-- G A L L E R Y  P A G E  C O D E  S T A R T S  H E R E-->
                <div id="gallery" class="section">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <div class="container">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="col-inner">

                                            <div class="section-heading">
                                                <p class="section-subtitle" align="center">♡ fond(ou)'s lovely home ♡</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="col-inner">
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                                    <li data-target="#myCarousel" data-slide-to="5"></li>
                                                    <li data-target="#myCarousel" data-slide-to="6"></li>
                                                    <li data-target="#myCarousel" data-slide-to="7"></li>
                                                    <li data-target="#myCarousel" data-slide-to="8"></li>
                                                    <li data-target="#myCarousel" data-slide-to="9"></li>
                                                    <li data-target="#myCarousel" data-slide-to="10"></li>
                                                    <li data-target="#myCarousel" data-slide-to="11"></li>
                                                    <li data-target="#myCarousel" data-slide-to="12"></li>
                                                    <li data-target="#myCarousel" data-slide-to="13"></li>
                                                    <li data-target="#myCarousel" data-slide-to="14"></li>
                                                    <li data-target="#myCarousel" data-slide-to="15"></li>
                                                    <li data-target="#myCarousel" data-slide-to="16"></li>
                                                    <li data-target="#myCarousel" data-slide-to="17"></li>
                                                    <li data-target="#myCarousel" data-slide-to="18"></li>
                                                    <li data-target="#myCarousel" data-slide-to="19"></li>
                                                    <li data-target="#myCarousel" data-slide-to="20"></li>
                                                    <li data-target="#myCarousel" data-slide-to="21"></li>
                                                    <li data-target="#myCarousel" data-slide-to="22"></li>
                                                    <li data-target="#myCarousel" data-slide-to="23"></li>
                                                    <li data-target="#myCarousel" data-slide-to="24"></li>
                                                    <li data-target="#myCarousel" data-slide-to="25"></li>
                                                    <li data-target="#myCarousel" data-slide-to="26"></li>
                                                    <li data-target="#myCarousel" data-slide-to="27"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="item active">
                                                        <img src="assets/gallery/1.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/2.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/3.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/4.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/5.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/6.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/7.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/8.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/9.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/10.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/11.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/12.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/13.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/14.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/15.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/16.jpg" alt="fondou" width="460" height="345">
                                                    </div>	

                                                    <div class="item">
                                                        <img src="assets/gallery/17.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/18.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/19.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/20.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/21.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/22.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/23.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/24.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/25.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/26.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/27.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                    <div class="item">
                                                        <img src="assets/gallery/28.jpg" alt="fondou" width="460" height="345">
                                                    </div>

                                                </div>

                                                <!-- Left and right controls -->
                                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- G A L L E R Y  P A G E  C O D E  E N D S  H E R E-->


                <!-- C O N T A C T  P A G E  C O D E  S T A R T S  H E R E-->
                <div id="contact" class="section">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-inner">
                                            <div class="section-heading">
                                                <h2 class="section-title">Connect with us.</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-5 m-t-30-sm-max">
                                        <div class="col-inner">
                                            <div class="iconbox _left">
                                                <div class="iconbox-icon">
                                                    <i class=""></i>
                                                </div>

                                                <div class="iconbox-heading">
                                                    <h3>Talk to us</h3>
                                                </div>

                                                <div class="iconbox-content">
                                                    <p>
                                                        Jerome: +64 22 094 1912
                                                        <br>
                                                        Peachy: +64 22 073 6420
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="iconbox _left">
                                                <div class="iconbox-icon">
                                                    <i class=""></i>
                                                </div>

                                                <br>
                                                <div class="iconbox-heading">
                                                    <h3>Email us</h3>
                                                </div>

                                                <div class="iconbox-content">
                                                    <p>
                                                        fondoujerome@gmail.com
                                                        <br>
                                                        fondoupeachy@gmail.com
                                                    </p>
                                                </div>
                                            </div> 

                                            <div class="iconbox _left">
                                                <div class="iconbox-icon">
                                                    <i class=""></i>
                                                </div>
                                                <div class="iconbox-heading">
                                                    <br>
                                                    <h3>Our address</h3>
                                                </div>
                                                <div class="iconbox-content">
                                                    <p>
                                                        157 Hobson Street | Unit G17,
                                                        <br>
                                                        Auckland City Hotel, Auckland 1010, 
                                                        <br>
                                                        New Zealand
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">
                                        <div class="col-inner">
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <!-- T R I P  A D V I S O R -->
                                                    <a href="https://www.tripadvisor.co.nz/Restaurant_Review-g255106-d7624036-Reviews-Fond_Ou-Auckland_North_Island.html" target="_blank">
                                                        <img src="assets/img/tripadvisor.svg" alt="" height="100" width="300"></a>

                                                    <br>
                                                    <br>

                                                    <!-- F A C E B O O K -->
                                                    <a href="https://www.facebook.com/fondoucafe/" target="_blank">
                                                        <img src="assets/img/facebook.svg" alt="" height="100" width="300"></a>

                                                    <br>
                                                    <br>

                                                    <!-- I N S T A G R A M -->
                                                    <a href="http://instagram.com/fondoucafe" target="_blank">
                                                        <img src="assets/img/instagram.svg" alt="" height="100" width="300"></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- C O N T A C T  P A G E  C O D E  E N D S  H E R E-->
            </main> 
            <!-- M A I N  S I T E -->
        </div>
    </div>

    <script src="assets/js/vendor/jquery-1.11.3.min.js"></script>
    <script src='assets/js/vendor/bootstrap.min.js'></script>
    <script src='assets/js/vendor/plugin.js'></script>
    <script src='assets/js/variable.js'></script>
    <script src='assets/js/main.js'></script>
    <script src='assets/js/fondou.js'></script>

    <!-- Modules -->
    <script src="/fondou_app/fondou_website.js"></script>

    <!-- Controllers -->
    <script src="/fondou_app/common/MainController.js"></script>
    <script src="/fondou_app/common/ConfirmationController.js"></script>
    <script src="/fondou_app/common/ErrorMessageController.js"></script>
    <script src="/fondou_app/website/WebsiteController.js"></script>

</body>
</html>