<div id="page-wrapper">
    <div class="container-fluid">
        <!-- D A S H B O A R D  M E N U O P T I O N S -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Menu Options</h2>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-lg-3">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row" ng-repeat="option in options">
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteOption($index)">X</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <input  class="dashboard-input" type="text" size="20" maxlength="50" ng-model="option.name">
                    </div>
                </div>    
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-info" value="Save" ng-click="updateOption($index)">Save</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="New option" ng-click="createOption()">New option</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- Options -->

        <div class="row panel-darkgrey">
            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Select option</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-default">
                    <div class="panel-body">
                        <select ng-model="currentOption" ng-change="selectOption()" ng-options="option as option.name for option in options track by option.id"></select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Option Values -->
        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>Option Values</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1"></div>
            
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Order</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Value</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Price Modifier</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div> <!-- row -->

        <div class="row" ng-repeat="value in values"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteValue($index)">X</button>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="2" maxlength="50" ng-model="value.order">
                    </div>
                </div>    
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="20" maxlength="50" ng-model="value.value">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="7" ng-model="value.priceModifier">
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-info" value="Save" ng-click="updateValue($index)">Save</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="New value"  ng-click="createValue()">New value</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- Option Values -->

        <!-- Option Categories -->
        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>Option Categories</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        
        <div class="row">
            <div class="col-md-1"></div>
            
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Category </div>
                </div>
            </div>
            
            <div class="col-md-2"></div>
        </div><!-- row -->

        <div class="row" ng-repeat="optCategory in optCategories">
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="removeOptCategory($index)">X</button>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <select class="dashboard-input" ng-model="optCategory.category" ng-options="menuCategory as menuCategory.name for menuCategory in menuCategories track by menuCategory.id"></select>
                    </div>
                </div>    
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-info" value="Save" ng-click="changeOptCategory($index)">Save</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->


        <div class="row">
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="Add category"  ng-click="addOptCategory()">Add Category</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- Option Categories -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->