<div id="page-wrapper">
    <div class="container-fluid">
        <!-- D A S H B O A R D  O R D E R S -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Orders</h2>
            </div>
        </div> 

        <!-- N E W -->
        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>New</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        
        <div class="row"> 
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Phone</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Order Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Pick Up Time</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Summ</div>
                </div>
            </div>
        </div> <!-- row -->
        
        <div class="row" ng-repeat="order in ordersNew">
            <div class="row">
                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button class="btn btn-sm btn-warning" ng-click="switchExpanding(ordersNew, $index)">
                                <span ng-hide="order.expanded">+</span>
                                <span ng-show="order.expanded">-</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1" style="color: red">
                    <div class="panel-default">
                        <div class="panel-body">
                            <span ng-show="order.needDeposit">DEPOSIT</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.customerPhone}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">{{order.customerName}}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">{{order.totalPrice| currency}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn btn-sm btn-info" ng-click="changeOrderStatusClick(ordersNew, $index, orderStatuses.processed)"> Start Process
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="cancelOrderClick(ordersNew, $index)">X
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-grey" ng-show="order.expanded">
                <div class="row" ng-repeat="item in order.items">
                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{item.count}} itm</div>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{item.name}}</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel-default">
                            <div class="panel-body">{{item.description}}</div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{item.price|currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- N E W -->

        <!-- I N  P R O C E S S -->
        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>In Process</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        
        <div class="row"> 
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Phone</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Order Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Pick Up Time</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Summ</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row" ng-repeat="order in ordersProcessed">
            <div class="row">
                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button class="btn btn-sm btn-warning" ng-click="switchExpanding(ordersProcessed, $index)">
                                <span ng-hide="order.expanded">+</span>
                                <span ng-show="order.expanded">-</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body"></div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.customerPhone}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">{{order.customerName}}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">{{order.totalPrice| currency}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn btn-sm btn-info" ng-click="changeOrderStatusClick(ordersProcessed, $index, orderStatuses.sent)"> Order Ready
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="cancelOrderClick(ordersProcessed, $index)">X
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-grey" ng-show="order.expanded">
                <div class="row" ng-repeat="item in order.items">
                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{item.count}} itm</div>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{item.name}}</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel-default">
                            <div class="panel-body">{{item.description}}</div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{item.price|currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- I N  P R O C E S S -->

        <!-- W A I T I N G -->
        <div class="row"> 
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4>Waiting for customer</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        
        <div class="row"> 
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Phone</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Order Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Pick Up Time</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Summ</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row" ng-repeat="order in ordersSent">
            <div class="row">
                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button class="btn btn-sm btn-warning" ng-click="switchExpanding(ordersSent, $index)">
                                <span ng-hide="order.expanded">+</span>
                                <span ng-show="order.expanded">-</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body"></div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.customerPhone}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">{{order.customerName}}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="panel-default">
                        <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">{{order.totalPrice| currency}}</div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn btn-sm btn-info" ng-click="changeOrderStatusClick(ordersSent, $index, orderStatuses.finished)"> Finalize
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="cancelOrderClick(ordersSent, $index)">X
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-grey" ng-show="order.expanded">
                <div class="row" ng-repeat="item in order.items">
                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{item.count}} itm</div>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{item.name}}</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel-default">
                            <div class="panel-body">{{item.description}}</div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{item.price|currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- W A I T I N G -->


    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->