<div id="page-wrapper">
    <div class="container-fluid">
        <!-- D A S H B O A R D  O R D E R S -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> Orders Archive </h2>
            </div>
        </div> <!-- row -->

        <!-- F I N I S H E D --> 
        <div class="row">
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4> Finished </h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Phone</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Order Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Pick Up Time</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Summ</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="orders-archive-ordersblock">            
            <div class="row" ng-repeat="order in ordersFinished">
                <div class="row"> 
                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">
                                <button class="btn btn-sm btn-warning" ng-click="switchExpanding(ordersFinished, $index)">
                                    <span ng-hide="order.expanded">+</span>
                                    <span ng-show="order.expanded">-</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.customerPhone}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.customerName}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{order.totalPrice| currency}}</div>
                        </div>
                    </div>                
                </div> <!-- row -->

                <div class="panel-grey" ng-show="order.expanded">
                    <div class="row" ng-repeat="item in order.items">
                        <div class="col-md-1">
                            <div class="panel-default">
                                <div class="panel-body">{{item.count}} itm</div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="panel-default">
                                <div class="panel-body">{{item.name}}</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel-default">
                                <div class="panel-body">{{item.description}}</div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="panel-default">
                                <div class="panel-body">{{item.price|currency}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"> 
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button ng-disabled="ordersFinishedStartRow <= 0"
                                ng-click="switchPage(orderFinalStatuses.finished, false)" class="btn btn-sm btn-info"> Previous {{pageSize}} </button>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button ng-disabled="ordersFinishedStartRow + pageSize >= ordersFinishedCount"
                                ng-click="switchPage(orderFinalStatuses.finished, true)" class="btn btn-sm btn-info"> Next {{pageSize}} </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div> <!-- row -->  
        <!-- F I N I S H E D -->

        <!-- C A N C E L E D  B Y  A D M I N -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4> Canceled by Admin </h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Phone</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Order Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Pick Up Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Summ</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="orders-archive-ordersblock"> 
            <div class="row" ng-repeat="order in ordersCanceledAdmin">
                <div class="row">
                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">
                                <button class="btn btn-sm btn-warning" ng-click="switchExpanding(ordersCanceledAdmin, $index)">
                                    <span ng-hide="order.expanded">+</span>
                                    <span ng-show="order.expanded">-</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.customerPhone}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.customerName}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{order.totalPrice| currency}}</div>
                        </div>
                    </div>
                </div> <!-- row -->

                <div class="panel-grey" ng-show="order.expanded">
                    <div class="row" ng-repeat="item in order.items">
                        <div class="col-md-1">
                            <div class="panel-default">
                                <div class="panel-body">{{item.count}} itm</div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="panel-default">
                                <div class="panel-body">{{item.name}}</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel-default">
                                <div class="panel-body">{{item.description}}</div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="panel-default">
                                <div class="panel-body">{{item.price|currency}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div>

        <div class="row"> 
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button ng-disabled="ordersCanceledAdminStartRow <= 0" ng-click="switchPage(orderFinalStatuses.canceledAdmin, false)" class="btn btn-sm btn-info"> Previous {{pageSize}} </button>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button ng-disabled="ordersCanceledAdminStartRow + pageSize >= ordersCanceledAdminCount"
                                ng-click="switchPage(orderFinalStatuses.canceledAdmin, true)" class="btn btn-sm btn-info"> Next {{pageSize}} </button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- C A N C E L E D  B Y  A D M I N -->

        <!-- C A N C E L E D  B Y  C U S T O M E R -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <h4> Canceled by Customer </h4>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Phone</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Order Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Pick Up Time</div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">Summ</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="orders-archive-ordersblock"> 
            <div class="row" ng-repeat="order in ordersCanceledCustomer">
                <div class="row">
                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">
                                <button class="btn btn-sm btn-warning" ng-click="switchExpanding(ordersCanceledCustomer, $index)">
                                    <span ng-hide="order.expanded">+</span>
                                    <span ng-show="order.expanded">-</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.customerPhone}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.customerName}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="panel-default">
                            <div class="panel-body">{{order.time| date : "dd/MMM/yy hh:mm a"}}</div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="panel-default">
                            <div class="panel-body">{{order.totalPrice| currency}}</div>
                        </div>
                    </div>
                </div>

                <div class="panel-grey" ng-show="order.expanded">
                    <div class="row" ng-repeat="item in order.items">
                        <div class="col-md-1">
                            <div class="panel-default">
                                <div class="panel-body">{{item.count}} itm</div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="panel-default">
                                <div class="panel-body">{{item.name}}</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel-default">
                                <div class="panel-body">{{item.description}}</div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="panel-default">
                                <div class="panel-body">{{item.price|currency}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div>

        <div class="row"> 
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button ng-disabled="ordersCanceledCustomerStartRow <= 0" ng-click="switchPage(orderFinalStatuses.canceledCustomer, false)" class="btn btn-sm btn-info">Previous {{pageSize}}</button>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <button ng-disabled="ordersCanceledCustomerStartRow + pageSize >= ordersCanceledCustomerCount"
                                ng-click="switchPage(orderFinalStatuses.canceledCustomer, true)" class="btn btn-sm btn-info">Next {{pageSize}}</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <!-- C A N C E L E D  B Y  C U S T O M E R -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->