@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700");

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

*,
*:active:focus,
*:focus {
  outline: 0 !important;
}

*:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}


body {
  line-height: 1.8;
  background-color: #131417;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  margin-bottom: 30px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #fff;
}

a:focus,
a:hover {
  color: white;
  text-decoration: none;
}


/** S I T E  H E A D E R   D E S K T O P */
.site-header {
  z-index: 800;
  line-height: 70px;
  border-bottom: 0 solid #eee;
}

@media (min-width: 768px) {
  .is-site-bg-border .site-header .container-fluid {
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (min-width: 992px) {
  .is-site-bg-border .site-header .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 992px) {
  .site-header {
    height: 100px;
    line-height: 100px;
  }
}

@media (max-width: 991px) {
  .site-header-header::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 992px) {
  .site-header-header {
    float: left;
  }
}

.primary-nav-toggle {
  float: right;
  padding: 0 15px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.primary-nav-toggle:hover {
  color: inherit;
}

.nav-open .primary-nav-toggle i:before {
  content: "\f00d";
}

@media (max-width: 991px) {
  .nav-open .primary-nav-toggle i {
    color: #131417;
  }
  .nav-open .primary-nav-toggle i:before {
    content: "\f00d";
  }
}

@media (min-width: 992px) {
  .primary-nav-toggle {
    display: none;
  }
}

@media (min-width: 992px) {
  .site-header-main {
    float: right;
  }
}

.primary-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@media (min-width: 992px) {
  .primary-menu::after {
    content: "";
    display: table;
    clear: both;
  }
}

.primary-menu-item a {
  position: relative;
  display: block;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.primary-menu-item a:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-transition-property: -webkit-transform, opacity;
       -o-transition-property: -o-transform, opacity;
          transition-property: transform, opacity;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
       -o-transform: translateY(15px);
          transform: translateY(15px);
  position: absolute;
  content: attr(data-hover);
  opacity: 0;
  padding: 0 20px;
}

.primary-menu-item a span {
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  display: block;
  display: block;
}

.primary-menu-item a:hover {
  color: inherit;
}

@media (max-width: 991px) {
  .primary-menu-item a {
    line-height: 70px;
  }
}

@media (min-width: 992px) {
  .primary-menu-item {
    float: left;
  }
  .primary-menu-item a {
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    -webkit-transition-property: color;
         -o-transition-property: color;
            transition-property: color;
    padding: 0 20px;
  }
  .primary-menu-item a:hover {
    color: inherit;
  }
  .primary-menu-item a:hover:after {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .primary-menu-item a:hover span {
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
         -o-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0;
  }
  .primary-menu-item:last-child a {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .primary-nav {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .primary-nav-open .primary-nav-toggle {
    color: #131417;
  }
}

#nav {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 799;
  background-color: #000000;
  text-align: center;
}

#nav .primary-menu-item a {
  color: #ffffff;
  font-size: 14px;
}

#nav.is-active {
  z-index: 799;
}

@media (min-width: 992px) {
  #nav {
    display: none !important;
  }
}


/** C O M M O N */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

.is-site-bg-border .container {
  max-width: 100%;
}

.site {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.site-canvas {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.site-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.site-main {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.section {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.section-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.section-table-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0;
}

.section-heading {
  margin-bottom: 30px;
}

.section-title {
  margin-bottom: 0;
  font-size: 36px;
}

.section-subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 1px;
}

#home {
  text-align: center;
}

/** S C R O L L B A R */
.ps-container > .ps-scrollbar-y-rail,
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 4px;
}