<div id="page-wrapper">
    <div class="container-fluid">
        <!-- D A S H B O A R D  S P E C I A L S-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Specials</h2>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1"></div>
            
            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">Name</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Price</div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">Count</div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row" ng-repeat="special in specials"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteSpecial($index)">X</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="20" maxlength="50" ng-model="special.name">
                    </div>
                </div>    
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="5" ng-model="special.price">
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="5" maxlength="3" ng-model="special.count">
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-info" value="Save" ng-click="updateSpecial($index)">Save</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row"> 
            <div class="col-md-1">
                <div class="panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-sm btn-primary" value="New special"  ng-click="createSpecial()">New Special</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->