<div id="page-wrapper">
    <div class="container-fluid">
        <!-- D A S H B O A R D  C U S T O M E R S -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Customers</h2>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body"> Name </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body"> Phone </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body"> Email </div>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-1" align="center">
                <div class="panel-default">
                    <div class="panel-body"> Active </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body"> Password </div>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="row" ng-repeat="customer in customers">
            <div class="col-md-1">
                <div class="panel-body">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteCustomer($index)">X</button>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="15" maxlength="50" ng-model="customer.name"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="15" maxlength="50" ng-model="customer.phone">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="15" maxlength="50" ng-model="customer.email"></div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="panel-body">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="updateCustomer($index)">Update</button>
                </div>
            </div>
            <div class="col-md-1" align="center">
                <div class="panel-default">
                    <div class="panel-body">
                        <input type="checkbox" ng-model="customer.active" ng-change="setCustomerActive($index)">
                    </div>
                </div>
            </div>
            <div class="col-md-2" align="center">
                <div class="panel-default">
                    <div class="panel-body">
                        <input class="dashboard-input" type="text" size="15" maxlength="50" ng-model="customer.password">
                        <button ng-click="changeCustomerPassword($index)" class="btn btn-sm btn-info">Change Password</button>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->