<div class="modal-header">
    <h3 class="modal-title">{{ header }}</h3>
</div>
<div class="modal-body">
    {{ message }}
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">OK</button>
</div>